@mixin font-generator($name,$font-name){
  $font-path:'../fonts/';
  @font-face{
  font-family: $name;
  src:local($font-name),
  url( $font-path + $font-name+'.woff') format('woff'),
  url( $font-path + $font-name+'.eot') format('eot'),
  url( $font-path + $font-name+'.ttf') format('ttf'),
  url( $font-path + $font-name+'.svg') format('svg');
}
}
@include font-generator('myriad normal','myriad-set-pro_thin');
@include font-generator('myriad normal1','myriad-set-pro_bold');
@include font-generator('myriad normal2','myriad-set-pro_extrathin');
@include font-generator('myriad normal3','myriad-set-pro_semibold');
@include font-generator('myriad normal4','myriad-set-pro_text');
.icon-play::after{
	content: "";
}
.icon-font{
	font-family: "myriad normal4";
}